<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:method="POST" th:object="${user}" th:action="@{/edit/{id}(id=${user.getId()})}">

    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <label for="age">Enter age: </label>
    <input type="text" th:field="*{age}" id="age"/>
    <br/>
    <label for="profession">Enter profession: </label>
    <input type="text" th:field="*{profession}" id="profession"/>
    <br/>
    <input type="submit" value="Update!">
</form>
</body>
</html>